<h1 class="h1CartCid">Tu carrito</h1>
<div class="flexCart">
{{#each products}}
    <div class="cartContainer">
        <p class="cartProduct"> {{this.product.title}} </p>
        <p class="cartQuantity">Cantidad: {{this.quantity}}</p>
    </div>
{{/each}}
</div>