<div>
    <h1>Bienvenido/a a Unnamed Store</h1>
    <a href="/login"> Iniciar Sesion </a>
    <a href="/register"> Registrarse </a>
</div>

    <h3>Nuestros Clientes</h3>
<article>
    <div>
        <h4>Persona Uno</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti sit quos voluptatem odit dolorem error eum reprehenderit at incidunt!</p>
    </div>
    <div>
        <h4>Persona Dos</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti sit quos voluptatem odit dolorem error eum reprehenderit at incidunt!</p>
    </div>
    <div>
        <h4>Persona Tres</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti sit quos voluptatem odit dolorem error eum reprehenderit at incidunt!</p>
    </div>
    <div>
        <h4>Persona Cuatro</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti sit quos voluptatem odit dolorem error eum reprehenderit at incidunt!</p>
    </div>
</article>