<h1 class="titleIndex">Products</h1>
<div class="containerCards">
    {{#each products}}
    <div class="cards">
        <p class="titleCards"> {{this.title}} </p>
        <p class="descriptionCards"> {{this.description}} </p>
        <p class="priceCards"> Precio: ${{this.price}} </p>
    </div>
    {{/each}}
</div>

<script src="js/main.js"></script>