<main class="mainRegister">
    <h2 class="h2Register">Registrate</h2>
    <section class="registerFlex">
        <form action="/api/users" method="post">
            <label class="labelForm" for="first_name">First Name</label>
            <input class="inputForm" placeholder="Alejandro" type="text" id="first_name" name="first_name" required>
            <label class="labelForm" for="last_name">Last Name</label>
            <input class="inputForm" placeholder="Ortega" type="text" id="last_name" name="last_name" required>
            <label class="labelForm" for="email">Email</label>
            <input class="inputForm" placeholder="Alejandro@ortega.com" type="email" id="email" name="email" required>
            <label class="labelForm" for="password">Password</label>
            <input class="inputForm" placeholder="Pass1234" type="password" id="password" name="password" required>
            <label class="labelForm" for="age">Age</label>
            <input class="inputForm" placeholder="18" type="number" id="age" name="age" required>
            <div class="divBtnRegister">
                <button class="btnRegister" type="submit">Register</button>
            </div>
            <p>¿Ya tenes cuenta? <a class="loginRegister" href="/login">Inicia Sesion</a></p>
    </section>
    </form>
</main>