* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;
}

/* CHAT */

.h1Chat {
  font-size: 37px;
  color: #4B0082;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.h2Chat {
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.messagesLogsStyle {
  font-size: 15px;
  text-align: center;
}

.chatFlex {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.btnFlex {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.inputChat {
  padding: 5px 50px;
  margin-bottom: 10px;
}

.messagesChat {
  font-size: 15px;
  text-align: center;
}

.btnStyle {
  color: white;
  padding: 10px 25px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #663399;
}

.boxh2Chat {
  background-color: #dbdcdd;
}

/* PRODUCTS */

.titleProducts {
  text-align: center;
  font-weight:400;
  margin-bottom: 25px;
}

.divFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divMain {
  border: 1px solid #cccccc;
  width: 350px;
  background-color: #ececec;
  border-radius: 6px;
  margin: 10px 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.prevAndNext {
  text-align: center;
  margin: 10px auto;
}

.currentPageStyle {
  text-align: center;
}

.divTitle {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.divDescription {
  text-align: center;
  margin-bottom: 6px;
}

.divPrice {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.flexBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divBtn {
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 30px;
  border: solid 1px #cccccc;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.divBtn:hover{
  background-color: #7bbb85;
  color: white;
}

.divBtn:active{
  background-color: #3cb64e;
  color: white;
}

.antStyle:hover{
  color: #37b14b;
}

.sigStyle:hover{
  color: #37b14b;
}

a {
  text-decoration: none;
}

a:visited{
  color: #000000;
}

/* CARTS.HANDLEBARS */
.h1CartCid {
  text-align: center;
  margin-bottom: 15px;
  font-weight:400;
}

.cartContainer {
  padding: 20px 30px;
}

.flexCart {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 10px auto;
  border: 1px solid #cccccc;
  width: 350px;
  background-color: #ececec;
  border-radius: 6px;
}

.cartProduct {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}