* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

.h1Chat {
  font-size: 37px;
  color: #4B0082;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.h2Chat {
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.messagesLogsStyle {
  font-size: 15px;
  text-align: center;
}

.chatFlex {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.btnFlex {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.inputChat {
  padding: 5px 50px;
  margin-bottom: 10px;
}

.messagesChat {
  font-size: 15px;
  text-align: center;
}

.btnStyle {
  color: white;
  padding: 10px 25px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #663399;
}

.boxh2Chat {
  background-color: #dbdcdd;
}

.titleProducts {
  color:#663399;
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
}

.divFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divMain {
  background-color: #b4a0c9;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  padding: 25px;
}

.prevAndNext {
  text-align: center;
}

.currentPageStyle {
  text-align: center;
}

.divTitle {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.divDescription {
  text-align: center;
}

.divPrice {
  text-align: center;
  font-weight: 600;
}

.flexBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divBtn {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

/* CARTS.HANDLEBARS */
.h1CartCid {
  text-align: center;
  color: #663399;
  margin-bottom: 15px;
}

.cartContainer {
  padding: 20px 30px;
}

.flexCart {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.cartProduct {
  text-transform: uppercase;
  text-align: center;
}