<footer>
    <div>
        <ul>
            <li>Terminos y condiciones</li>
            <li>FAQ</li>
            <li>Ir hacia arriba</li>
        </ul>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <p>Hecho por ORAlejandro</p>
        <a href="" target="_blank">Mi Perfil en GitHub</a>
    </div>
</footer>